@import '../../../node_modules/@angular/material/theming';

@include mat-core();

$mat-kyf: (
  50: #e6f5ec,
  100: #ccebda,
  200: #99d6b4,
  300: #66c28f,
  400: #33ad69,
  500: #009944,
  600: #007a36,
  700: #005c29,
  800: #004d22,
  900: #003d1b,
  A100: #ABE7C6,
  A200: #69CE96,
  A400: #3EC178,
  A700: #1D8C4E,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

$custom-theme-primary: mat-palette($mat-kyf);
$custom-theme-accent: mat-palette($mat-kyf, A200, A100, A400);
$custom-theme-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

@include angular-material-theme($custom-theme);
