/* You can add global styles to this file, and also import other style files */
@import './base/reset';
@import './base/variables';
@import './base/mixins';
@import './base/sprites';
@import './my-theme/my-theme';
@import './app/index';

body {
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 32px;
}

button,
[mat-flat-button] {
  font-size: 13px;
}

input {
  transition: border .6s ease;

  &:focus {
    outline: none;
  }
}

.icon {
  display: inline-block;
  opacity: 1;
  transition: opacity .2s ease-in-out;

  &--hidden {
    opacity: 0;
  }

  &--link {
    cursor: pointer;
  }
}

.mat-form-field {
  font-size: 14px;
}

.main-logo {
  bottom: 15px;
  position: fixed;
  right: 15px;
  width: 140px;
}
