/* You can add global styles to this file, and also import other style files */
@import './base/reset';
@import './base/variables';
@import './base/mixins';
@import './my-theme/my-theme';
@import './app/index';

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icon {
  display: inline-block;

  &--link {
    cursor: pointer;
  }
}

.mat-form-field {
  font-size: 14px;
}

