.heroes {
    color: #3B3B3B;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px;

    &__item {
        border-radius: 5px;
        background: #BDCCE5;
        height: 28px;
        line-height: 28px;
        margin: 5px 0;
        display: block;
        overflow: hidden;
        max-width: 300px;
        cursor: pointer;

        &--selected {
            filter: brightness(85%);
        }
    }

    &__badge {
        background: darken(#BDCCE5, 20);
        color: #ffffff;
        height: 100%;
        display: inline-block;
        width: 40px;
        text-align: center;
    }
}