.project-list {
  margin-top: 20px;
  width: 100%;

  .mat-header-cell,
  .mat-cell {
    vertical-align: middle;
  }

  &__link {
    color: $color-link;
    cursor: pointer;
    font-size: 13px;
    text-decoration: underline;
  }

  &__header {
    color: $grey-8f;
    font-size: 13px;
    font-weight: 500;
  }
}
