<div class="login-form__title">
  Log in to your account
</div>
<form class="login-form__form" (submit)="loginUser($event)">
  <div class="login-form__field">
    <label class="login-form__label" for="login-username">
      Username
    </label>
    <input class="login-form__input" id="login-username" type="text" placeholder="Enter your username" />
  </div>
  <div class="login-form__field">
    <label class="login-form__label" for="login-password">
      Password
    </label>
    <input class="login-form__input" id="login-password" type="text" placeholder="Enter your password" />
  </div>
  <div class="login-form__controls">
    <button mat-flat-button color="primary" type="submit">LOG IN</button>
  </div>
</form>
