app-nav-container {
  height: 100%;
}

.mat-drawer-container {
  height: 100%;
}

.mat-drawer {
  background-color: $color-primary;
  height: 100%;
  min-width: 200px;
  position: fixed;
  width: 200px;
}

.navigation {
  margin-top: 80px;
}

[app-nav-link] {
  @include flex-container($justify: flex-start);
  background: transparent;
  color: $grey-ea;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  height: 50px;
  line-height: 50px;
  padding-left: 8px;
  transition: background .2s ease-in-out;

  &:focus {
    outline: none;
  }

  &[ng-reflect-is-selected=true],
  &[ng-reflect-is-active=true] {
    background: $green-medium;
  }

  &[ng-reflect-is-active=true] {
    border-left: 2px solid $white;
  }
}

.nav-link {

  &__text {
    margin-left: 16px;
    min-width: 120px;
  }
}
