app-nav-container {
  height: 100%;
}

.mat-drawer-container {
  height: 100%;
}

// sass-lint:disable no-important
.mat-drawer {
  background-color: $color-primary;
  height: 100%;
  overflow-y: hidden !important;
  position: fixed;
  width: 200px;
}

mat-sidenav-content {
  transition: margin-left .6s ease;
}

mat-sidenav-container {
  &.sideNav--small {

    mat-sidenav-content {
      margin-left: 46px !important;
    }
  }
}

// sass-lint:enable no-important
.navigation {
  margin-top: 80px;
}

[app-nav-link] {
  //@include flex-container($justify: flex-start);
  //background: transparent;
  //color: $grey-ea;
  //cursor: pointer;
  //font-size: 13px;
  //font-weight: 500;
  //height: 50px;
  //line-height: 50px;
  //padding-left: 8px;
  //transition: background .2s ease-in-out;



  //&[ng-reflect-is-selected=true],
  //&.active {
  //  background: $green-medium;
  //}
  //
  //&.active {
  //  border-left: 2px solid $white;
  //}
}

.nav-link {
  @include flex-container($justify: flex-start);
  background: transparent;
  color: $grey-ea;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  height: 50px;
  line-height: 50px;
  padding-left: 8px;
  transition: background .2s ease-in-out;

  &:focus {
    outline: none;
  }

  &[ng-reflect-is-selected=true] {
    background: $green-medium;
  }

  &--active {
    background: $green-medium;
    border-left: 2px solid $white;
  }

  &__text {
    //animation: appear .3s linear .3s 1 forwards;
    margin-left: 16px;
    min-width: 120px;
    //opacity: 0;
  }
}

//@keyframes appear {
//  from { opacity: 0; }
//  to { opacity: 1; }
//}
