app-main {
  @include flex-container($justify: flex-start, $align: flex-start);
  box-sizing: border-box;
  height: 100vh;
  margin: 0 auto;
  min-width: 1280px;
  width: 100vw;
}

.main-content {
  @include flex-container($justify: flex-start, $align: flex-start, $direction: column);
  background: $ivory;
  flex: 1 100%;
  height: 100%;
}
