.app-root {
  @include flex-container($justify: flex-start, $align: flex-start);
  border: 6px solid $black-transparent-02;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

.main-content {
  @include flex-container($justify: flex-start, $align: flex-start, $direction: column);
  background: $ivory;
  flex: 1 100%;
  height: 100%;
}
