%svg-common {
  background: url('/assets/svg-sprite.svg') no-repeat;
}

.svg__chevron-right {
  @extend %svg-common;
  background-position: 0 0;
}

.svg__chevron-right--size {
  height: 24px;
  width: 24px;
}

.svg__notifications-none {
  @extend %svg-common;
  background-position: 100% 0;
}

.svg__notifications-none--size {
  height: 24px;
  width: 20px;
}

.svg__person {
  @extend %svg-common;
  background-position: 0 100%;
}

.svg__person--size {
  height: 20px;
  width: 20px;
}
