// named colors
$ivory: #fffff0;
$white: #fff;
$green-medium: #00662e;
$green-dark: #003d1b;

// assigned colors
$color-primary: #094;
$color-link: #3083e3;

// black colors
$black-transparent-02: rgba(0, 0, 0, .2);
$black-transparent-05: rgba(0, 0, 0, .5);

// grey shades
$grey-ea: #eaeaea;
$grey-f4: #f4f4f4;
$grey-8f: #8f8f8f;
$grey-86: #868686;
$grey-6b: #6b6b6b;
$grey-a53: #a5a3a3;
$grey-e1: #e1e1e1;

// sass-lint:disable no-vendor-prefixes
.test-property {
  -webkit-tap-highlight-color: transparent;
}

// sass-lint:enable no-vendor-prefixes
