// named colors
$ivory: #fffff0;
$white: #fff;
$green-medium: #00662e;
$green-dark: #003d1b;

// assigned colors
$color-primary: #094;
$color-link: #3083e3;

// black colors
$black-transparent-02: rgba(0, 0, 0, .2);

// grey shades
$grey-ea: #eaeaea;
$grey-f4: #f4f4f4;
$grey-8f: #8f8f8f;
